.App {
  display: flex;
  gap: 20px;
  min-width: 720px;
  margin: 20px 0;
  justify-content: center;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-width: 500px;
  width: 600px;
}

.inputsSection {
  font-size: 12px;
  width: 300px;
}

.cardsSection {
  width: 100%;
}

.airline {
  align-items: center;
  background-color: #0087c9;
  color: white;
  display: flex;
  font-size: 22px;
  justify-content: space-between;
  padding: 0 10px 5px 10px;
}

.airline__priceBlock {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}

.airline__priceBlock__text {
  font-size: 10px;
}

.there,
.back {
  padding: 5px 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.hrInfo {
  border: 1px solid #f1f1f1;
  margin: 0;
}

.there__time,
.back__time {
  display: flex;
  justify-content: space-between;
}

.transferBlock {
  color: #ffab62;
  display: flex;
  justify-content: center;
}

.hrTransfer {
  border: 1px solid #b1b1b1;
  margin: 10px 5px;
  width: 35%;
}

.hrNotTransfer {
  border: 1px solid #b1b1b1;
  margin: 10px;
  width: 94%;
}

.betweenCard {
  border: 1px solid #0087c9;
}

.btnCard {
  background-color: #ffab62;
  border: none;
  color: white;
  cursor: pointer;
  height: 50px;
  margin-bottom: 30px;
  width: 100%;
}

.colorBlue {
  color: #0087c9;
}

.btnShowMore {
  border: 1px solid #0087c9;
  background-color: white;
  cursor: pointer;
  height: 30px;
  width: 250px;
}

.h5 {
  font-size: 14px;
  margin: 20px 0;
}

p {
  margin: 0;
}

.inputBlock,
.сheckboxBlock {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.input {
  border: 1px solid #0087c9;
  padding: 3px 15px;
  margin: 5px 0;
}

.input:hover {
  border: 1px solid #ffab62;
}

.label {
  margin-right: 10px;
}
